<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/trabalho_submit" , method="post">
        <h1>Quanto vc ganha p/ hora?: </h1>
        <input type="text" id="por_hora" name="por_hora">
        <input type="submit" value="Calculando">

        <h1>Número de horas trabalhadas no mês: </h1>
        <input type="text" id="horas_trabalhadas" name='horas'>
        <input type="submit" value="Calculando pt2">

    </form>
</body>
</html>